<div class="container-fluid">
    <div class="card mat-card" id="first-card">
        <div id="skills-card">
            <h2>Skills</h2>
            <div class="row">
                <div class="row align-items" *ngFor="let skill of skills">
            
            
                <div class="col-2">
                    <circle-progress [percent]="50" [radius]="50" backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300">{{skill.nivel}}</circle-progress>
                </div>
                <div class="col-2">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>
                <div class="col-2">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>
                <div class="col-2">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>
                <div class="col-2">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>
                <div class="col-2">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>  
            </div>
        </div>
    </div>
        <div id="languages-card">
            <h2>Idiomas</h2>
            <div class="row" >
                <div class="col-4">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>
                <div class="col-4">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>
                <div class="col-4">
                    <circle-progress [percent]="85" [radius]="50 " backgroundColor="#b308e2" [outerStrokeWidth]="4" [showInnerStroke] = false
                        [innerStrokeWidth]="8" [outerStrokeColor]="'white'" [innerStrokeColor]="'purple'"
                        [animation]="true" [animationDuration]="1300"></circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>