
<div class="container-fluid">
        <div class="card mat-card" id="first-card">

            <div id="profile-background"><img src="../../../assets/background2.jpg" alt="background"
                    style=" width:100%;">


            </div>

            <div id="info">
                <div id="info-img">
                    <div class="row">

                        <div class="col-10 col-sm-7 col-md-8 col-lg-9">
                            <img class="profile-image" src="../../../assets/Rostro.jpg" alt="myFace"
                                style=" width:20%;">
                        </div>
                        <div class="col-2 col-sm-5 col-md-4 col-lg-3">
                            <div id="media-info">

                                <a class="btn btn-primary" href="https://www.facebook.com/Nicolas.Emanuel.Martin">
                                    <i class="fab fa-facebook"></i></a>
                                <a class="btn btn-primary"
                                    href="https://www.linkedin.com/in/nicolas-emanuel-martin-0983a144/">
                                    <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-dark" href="https://github.com/IamPurpleBoy">
                                    <i class="fab fa-github-square"></i></a>
                                <a class="btn btn-success" href="https://api.whatsapp.com/send?phone=3515942504">
                                    <i class="fab fa-whatsapp"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa pen"></i></a></div>

                </div>
                <div id="info-data">

                    <div class="row">
                        <div class="col-xs-6  col-sm-5 col-md-4 col-lg-4 ">
                            <div *ngIf="persona">
                                <h2>{{persona.nombre}} {{persona.apellido}}</h2>
                                <div id="info-company">Web Full Stack Developer</div>
                                <div id="info-contact">
                                    <span>Cordoba, Argentina</span>
                                    <div class="container">
                                       <a href="#contacto" class="btn btn-light btn-sm"
                                                    data-toggle="modal">Informacion de contacto</a>
                                        <div class="modal fade" id="contacto">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!--header de la ventana-->
                                                    <div class="modal-header">
                                                    <h2 class="modal-title">Telefono</h2>
                                                    <h3>{{persona.telefono}}</h3>
                                                    <h2 class="modal-title">e-mail</h2>
                                                    <h3>{{persona.email}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-6  col-sm-7 col-md-8 col-lg-8">
                            
                            <ul id="info-details">
                                <li><a href="#">
                                        <img
                                            src="http://hoteldelacaniada.com/wp-content/uploads/2013/03/logo_con_bajada.png">
                                        <h2>Hotel de la Cañada</h2>
                                    </a></li>

                                <li><a href="#">
                                        <img
                                            src="https://upc.edu.ar/wp-content/uploads/2015/09/logo_montes_pacheco.png">
                                        <h2>Universidad Provincia Cordoba Facultad de Turismo y Ambiente</h2>
                                    </a></li>
                            </ul>
                            
                        </div>
                        <div class="col-xs-1 col-md-7"></div>
                        <div class="col-5">
                            <div id="info-actions">
                                <button type="buttonn" class="btn btn-primary">Mis intereses</button>
                                <button type="buttonn" class="btn btn-primary">Añadir seccion</button>
                                <button type="buttonn" class="btn btn-danger">Mas</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
