
.container-fluid{
    padding:0%;
}
.mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: blueviolet;
    box-shadow: 5px 5px 10px #7a2576;
}

.row{
    margin: 10px;
}