<div class="container-fluid">
    <div class="card mat-card" id="first-card">
        <div id="info-data">
            <div class="row">
            <h3>Acerca de</h3>
            <p>
                Mis objetivo profeisional es desempeñar mis actividades gracias a los conocimientos y habilidades adquiridas. 
                Continuar con mi formación profesional y personal, para alcanzar nuevos horizontes en el campo de las Tecnologías.
            </p>
        </div>
        </div>
    </div>
</div>