<div class="card mat-card" id="first-card">
    
    <ul id="info-details">
        <li>
            <h3>Instituto Superior Politecnico de Cordoba</h3>
            <p>Tecnicatura superior en Innovacion 4.0 <span>(En Curso)</span></p>
            <p ><span>Cordoba, Argentina</span></p>
        </li>
        <li>
            <h3>Argentina Programa</h3>
            <p>Desarrollador Full Stack <span>(En Curso)</span> </p>
            <p ><span>Online</span></p>
        </li>
        <li>
            <h3>PIL Comercio Electronico (Camece)</h3>
            <p>Desarrollo e-commerce con WordPress y WooCommerce <span>(Finalizado en 2021)</span> </p>
            <p ><span>Online</span></p>
        </li>
        <li>
            <h3>Extension UTN FRC / Fundacion Proydesa </h3>
            <p>Programador Java SE nivel Intermedio <span>(Finalizado en 2021)</span></p>
            <p ><span>Online</span></p>
        </li>
        <li>
            <h3>Facultad de Turismo y Ambiente UPC "Marcelo Montes Pacheco" </h3>
            <p>Tecnico Superior en Alojamiento <span>(2006 - 2020)</span></p>
            <p ><span>Online</span></p>
        </li>
    </ul>
</div>
