.container-fluid{
    padding:0%;
}
.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: blueviolet;
}

.mat-card#first-card{
    padding: 0px;
}

div#profile-background{
display: flex;
z-index: 0;
}

div#profile-background img{
    width: 100%;
    border-radius: 32px 32px 0 0;
}

div#info{
    padding: 15px;
    background-color: ghostwhite;
    border-radius:0 0 32px 32px ;   

}
.profile-image{
    border-radius: 50%;
    width: 152;
    height: 152;
    margin-top: -30px;
    margin-left: 7%;
    z-index: -1;
}



div#info-actions {
    display: flex;
    vertical-align: bottom;
    
}

div#info-contact span{
    font-size: 1rem;
    font-weight: 400;
}

div#info-contact span a{
    color: blue;
    touch-action: manipulation;
    text-decoration: none;
}

div#info-company{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
}

div#info-data{
    display:flexbox;
    justify-content:baseline;
    
}

div#info-data ul#info-details li a{
    color: black;
    display: flex;
    text-decoration: none;

}
div#info-data ul#info-details li a h2{
   font-size: 1rem;
   font-weight: 500;
   align-self: center;
   vertical-align: baseline;

}
div#info-data ul#info-details li a img{
    width: 15%;
    height: 15%;
    margin-right: 8px;
 
 }

 ul.items-list{
     list-style: "none inside";
 }

 ul.items-list li{
     display: flex;
     margin: 10px 0;
 }

 ul.items-list li div.data-container{
     flex-grow: 1;
 }

.btn-warning{
    color:white;
    background-color: transparent;
    border-radius:100%;
    border-color: blueviolet;
    padding-right:  2%;
    
}