.container-fluid{
    padding:0%;
}
.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgba(182, 50, 235, 0.781);
    box-shadow: 5px 5px 10px #7a2576;
}

.mat-card#first-card{
    padding: 0px;
}

div#profile-background{
display: flex;
z-index: 0;

}

div#profile-background img{
    width: 100%;
    border-radius: 32px 32px ;
    
}

div#info{
    padding: 15px;
    background-color: ghostwhite;
    border-radius:0 0 32px 32px ;   

}
.profile-image{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius:100%; 
    border-bottom-left-radius: 100%;
    width: 152;
    height: 152;
    margin-top:-65px;
    margin-left: 7%;
    z-index: -1;
    box-shadow: 10px 5px 5px purple;
    
}

.ap-logo{
  
    margin-top: -150px;
    margin-left: 1%;
    z-index: -1;
   
    
}
div#ap-logo{
    align-items:flex-end;
    background-color: ghostwhite;
    z-index: 0;
    margin-right: 5px;
    
}
div#media-info{
    align-items:flex-end;
    margin-block-end: 50%;
    z-index: 1;
    margin-top: -85px;
    margin-right: 5px;
    box-shadow: -10px 5px 5px  purple;
    
}

div#div-collapsed .button .btn-warning .tooltips {
    padding-right:10px ;
    margin-top: -150px;
    margin-left: 1%;
    z-index: -1;
}

div#info-actions {
    display: flex;
    vertical-align: bottom;
    
}

div#info-contact span{
    font-size: 1rem;
    font-weight: 400;
}

div#info-contact span a{
    color: blue;
    touch-action: manipulation;
    text-decoration: none;
}

div#info-company{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
    align-content: center;
}

div#info-title{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
    align-content: center;
    margin-left: 5px;
}

div#modal-contact{
 margin-left: 70px;
}

.btn-warning{
    color:white;
    background-color: transparent;
    border-radius:100%;
    border-color: blueviolet;
    margin-top:  15%;
    
}
div#info-data{
    display:flexbox;
    justify-content:baseline;
    
}

div#user-name h2{
    font-size: 2rem;
   font-weight: 500;
   align-self: center;
   vertical-align: baseline;


}

div#info-data ul#info-job li a{
    color: black;
    display: flex;
    text-decoration: none;

}
div#info-data ul#info-job li a h2{
   font-size: 1.25rem;
   font-weight: 500;
   align-self: center;
   vertical-align: baseline;

}
div#info-data ul#info-edu li a{
    color: black;
    display: flex;
    text-decoration: none;

}
div#info-data ul#info-edu li a h2{
   font-size: 1.25rem;
   font-weight: 500;
   align-self: center;
   vertical-align: baseline;

}
div#info-data ul#info-job li a img{
    width: 20%;
    height: 20%;
    margin-right: 30px;
 
 }
 div#info-data ul#info-edu li a img{
    width: 20%;
    height: 20%;
    margin-right: 30px;
 
 }

 ul.items-list{
     list-style: "none inside";
 }

 ul.items-list li{
     display: flex;
     margin: 10px 0;
 }

 ul.items-list li div.data-container{
     flex-grow: 1;
 }