        <div class="card mat-card" id="first-card">
    
            <ul id="info-details">
                <li>
                    <h3>Hotel de la Cañada</h3>
                    <p>Recepcionista <span>(2013 -  Actualidad)</span></p>
                    <p ><span>Cordoba, Argentina</span></p>
                    <p><span><a href="#">Informacion de contacto</a></span></p>
                </li>
                <li>
                    <h3>Nextel Argentina</h3>
                    <p>Supervisor de Equipo de Ventas <span>(2013)</span> </p>
                    <p ><span>Cordoba, Argentina</span></p>
                    <p><span><a href="#">Informacion de contacto</a></span></p>
                </li>
                <li>
                    <h3>Telemercado</h3>
                    <p>Supervisor de Equipo de Venta Telefonica  <span>(2012)</span> </p>
                    <p ><span>Cordoba, Argentina</span></p>
                    <p><span><a href="#">Informacion de contacto</a></span></p>
                </li>
                
            </ul>
        </div>
