<div class="card mat-card" id="first-card">

    <div class="text-center">
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#crearJobModal"
            data-whatever="@mdo">Agrear Experiencia</button>
    </div>



    <div class="main-container">
        <h2>Experiencia Laboral</h2>
        <br>
        <br>

        <div *ngFor="let trabajo of trabajos">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-xs-12 col-lg-6">
                        <h3>{{trabajo.empresa}}</h3>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <p>{{trabajo.descripcion}}</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h5>{{trabajo.cargo}} <span>({{trabajo.anoInicio}} - {{trabajo.anoFin}})</span></h5>
                    </div>
                    <div id="info-contact">
                        
                            <a href="#job-contact" class="btn btn-light btn-sm" data-toggle="modal">Informacion de
                                contacto</a>
                            <div class="modal fade" id="job-contact">
                                <div class="modal-dialog modal-dialog-centred" role="document">
                                    <div class="modal-content">
                                        <!--header de la ventana-->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Datos de contacto</h4>
                                            <div class="modal-body">
                                                <h5>Telefono</h5>
                                                <p>{{trabajo.telefono}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div>
                    <button type="button" (click)="onOpenModal('edit', trabajo)" class="btn btn-warning tooltips" data-toggle="modal" data-target="#editarJobModal" data-whatever="@fat"><i class="fa fa-pencil-square-o"></i></button>
                    <button type="button" (click)="onOpenModal('delete', trabajo)" class="btn btn-warning tooltips" data-toggle="modal" data-target="#borrarJobModal" data-whatever="@getbootstrap"><i class="fa fa-trash"></i></button>
                    
                </div>
                    


                </div>
            </div>
        </div>
    </div>
 <!--Modal Nueva Educacion-->
 <div class="modal fade" id="crearJobModal" tabindex="-1" role="dialog" aria-labelledby="crearJobModalLabel"
 aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="crearEduModal">Agregar Nueva Experiencia</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form #addForm="ngForm" (ngSubmit)="onAddTrabajo(addForm)">
             <div class="form-group">
                 <label for="empresa">Empresa</label>
                 <input type="text" ngModel name="empresa" class="form-control" id="empresa"
                     placeholder="Empresa" required />
             </div>
             <div class="form-group">
                 <label for="cargo">Cargo</label>
                 <input type="text" ngModel name="cargo" class="form-control" id="cargo"
                     placeholder="Cargo" required />
             </div>
             <div class="form-group">
                 <label for="anoInicio">Año Inicio</label>
                 <input type="text" ngModel name="anoInicio" class="form-control" id="anoInicio"
                     placeholder="Inicio" required />
             </div>

             <div class="form-group">
                 <label for="anoFin">Año Fin</label>
                 <input type="text" ngModel name="anoFin" class="form-control" id="anoFin"
                     placeholder="Fin" required />
             </div>
             <div class="form-group">
                 <label for="descripcion">Descripcion</label>
                 <input type="text" ngModel name="descripcion" class="form-control" id="descripcion"
                     placeholder="Descripcion" required />
             </div>
             <div class="form-group">
                 <label for="telefono">Telefono</label>
                 <input type="text" ngModel name="telefono" class="form-control" id="telefono"
                     placeholder="Telefono" required />
             </div>


             <div class="modal-footer">
                 <button type="button" id="add-trabajo-form" class="btn btn-secondary"
                     data-dismiss="modal">
                     Cerrar
                 </button>

                 <button [disabled]="addForm.invalid" type="submit" id="add-trabajo-form"
                     class="btn btn-primary">
                     Añadir cambios
                 </button>
             </div>
         </form>
       </div>
     </div>
   </div>
 </div>






<div class="modal fade" id="editarJobModal" tabindex="-1" role="dialog" aria-labelledby="editarJobModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h3 class="modal-title" id="editarJobModalLabel">
                 Editar Trabajo {{editaJob?.empresa}} </h3>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <form #editForm="ngForm">
                 <div class="form-group">
                     <label for="empresa">Empresa</label>
                     <input type="text" ngModel="{{editaJob?.empresa}}" name="empresa"
                         class="form-control" id="empresa" placeholder="Empresa" required />
                 </div>
                 <input type="hidden" ngModel="{{editaJob?.id}}" name="idEdu" class="form-control" id="idEdu"
                     placeholder="" />
                 <div class="form-group">
                     <label for="cargo">Cargo</label>
                     <input type="text" ngModel="{{editaJob?.cargo}}" name="cargo" class="form-control"
                         id="cargo" placeholder="Cargo" />
                 </div>
                 <div class="form-group">
                     <label for="anoInicio">Año Inicio</label>
                     <input type="text" ngModel="{{editaJob?.anoInicio}}" name="anoInicio" class="form-control"
                         id="anoInicio" placeholder="Inicio" />
                 </div>

                 <div class="form-group">
                     <label for="anoFin">Año Fin</label>
                     <input type="text" ngModel="{{editaJob?.anoFin}}" name="anoFin" class="form-control"
                         id="anoFin" placeholder="Finaliza" />
                 </div>

                 <div class="form-group">
                     <label for="descripcion">Descripcion</label>
                     <input type="text" ngModel="{{editaJob?.descripcion}}" name="descripcion"
                         class="form-control" id="descripcion" placeholder="Descripcion" />
                 </div>

                 <div class="form-group">
                     <label for="telefono">Telefono</label>
                     <input type="text" ngModel="{{editaJob?.telefono}}" name="telefono" class="form-control"
                         id="telefono" placeholder="Telefono" />
                 </div>


                 <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                         Cerrar
                     </button>

                     <button (click)="onUpdateTrabajo(editForm.value)" type="submit" class="btn btn-primary">
                         Añadir cambios
                     </button>
                 </div>
             </form>
         </div>
     </div>
 </div>
</div>


<div 
class="modal fade" 
id="borrarJobModal" 
tabindex="-1"
role="dialog" 
aria-labelledby="borrarJobModalLabel" 
aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-heder">
             <h3 class="modal-title" id="borrarJobModalLabel">Borrar Trabajo</h3>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <p>Estas Seguro de borrar {{borraJob?.cargo}}</p>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">No
                 </button>
                 <button (click)="onDeleteTrabajo(borraJob!.id)" class="btn btn-danger"
                     data-dismiss="modal">Si
                 </button>
             </div>

         </div>
     </div>
 </div>
</div>
 <div *ngIf="trabajos?.length ==0" class="col-12">
     <div class="alert alert-info" role="alert">
         <h2 class="alert-heading">No hay experiencias</h2>
         <p>No se encuentra ninguna experiencia cargada!</p>
     </div>
 </div>
</div>

